# Ignorar archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Ignorar archivos de proyecto y solución
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# Ignorar archivos de Asset Store
[Aa]ssets/AssetStoreTools*


# Ignorar archivos de VS/MD
.vs/
.vscode/
ExportedObj/

# Ignorar archivos de caché de Unity
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins*